{% extends "layouts/main.html" %}

{% block pageTitle %}
  Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Money and tax</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Income Tax</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Calculate tax on employees' company cars
    </h1>

    <p>
      As an employer, if you provide company cars or fuel for your employees’ private use, you’ll need to work out the taxable value so you can report this to HM Revenue and Customs (HMRC).
    </p>

    <p>
      ‘Private use’ includes employees’ journeys between home and work, unless they’re travelling to a temporary place of work.
    </p>

    <div class="govuk-inset-text">
      Find out about <a href="https://www.gov.uk/tax-company-benefits/tax-on-company-cars">tax on company cars if you’re an employee</a>.
    </div>

    <h2 class="govuk-heading-m">
      Work out taxable value
    </h2>

    <p>
      You can calculate taxable value using commercial payroll software.
    </p>

    <p>
      Or you can use HMRC’s <a href="http://localhost:3000/2-tax-year">company car and car fuel benefit calculator</a> if it works in your browser.
    </p>

    <h3 class="govuk-heading-s">
      Using the HMRC calculator
    </h3>

    <p>
      Choose fuel type ‘F’ for diesel cars that meet the Euro 6d standard (also known as Real Driving Emissions 2). Choose type ‘D’ for other diesel cars.
    </p>

    <p>
      Choose type ‘A’ for all other cars.
    </p>

    <p>
      You can <a href="https://www.gov.uk/co2-and-vehicle-tax-tools">check a car’s CO2 emissions</a>.
    </p>

    <p>
      For electric cars and other cars with an approved CO2 emissions figure of 75g/km or less, answer ‘no’ to the question ‘is the car provided via an optional remuneration arrangement?’.
    </p>

    <p>
      If your car has an approved CO2 emissions figure of 1 to 50g/km, you’ll also need to fill in the box for ‘zero emission mileage’ (also known as electric range). This is the distance the car can go on electric power before its batteries need recharging.
    </p>

    <p>
      You can get your zero emission mileage figure from:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>your vehicle’s certificate of conformity, if you own the car</li>
      <li>the leasing company or fleet provider, if you lease the car</li>
    </ul>

    <h3 class="govuk-heading-s">
      Work out the value manually
    </h3>

    <p>
      You can also work out the value manually on <a href="https://www.gov.uk/government/publications/paye-car-and-car-fuel-benefit-p11d-ws2">P11D working sheet 2</a>. You’ll have to use this method if both of the following apply during the tax year you’re reporting on:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>the car was unavailable for at least 30 consecutive days</li>
      <li>you were providing fuel for private use, but stopped doing this</li>
    </ul>

    <h3 class="govuk-heading-s">
      Taxable value of cars
    </h3>

    <p>
      The taxable value of a car is not the same as its cost. The taxable value also depends on:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>the car’s <a href="https://www.gov.uk/co2-and-vehicle-tax-tools">fuel type and level of CO2 emissions</a></li>
      <li>the amount of time the car is unavailable during the tax year (for example, because of a mechanical fault)</li>
    </ul>

  </div>
</div>

{% endblock %}
